html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

body {
  margin: 2em 2em;
}

table {
  border-spacing: 0;
}

th {
  font-weight: normal;
  padding: 0.2em 0.4em;
}

ul {
  list-style-type: none;
}

.category {
  background-color: black;
  color: white;
  font-weight: bold;
}

.name {
  margin: 0;
  text-align: right;
}

#download {
  display: none;
}
