html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

body {
  margin: 1em 2em;
}

th {
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.category {
  background-color: black;
  color: white;
  font-weight: bold;
}

.name {
  margin: 0 auto;
  text-align: right;
}

#download {
  display: none;
}
