html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

body {
  margin: 2em 4em;
}

table {
  border-spacing: 0;
}

th {
  font-weight: normal;
  padding: 0.2em 0.4em;
}

ul {
  list-style-type: none;
}

ul#ToC {
  column-count: 4;
}

th.category a {
  color: white;
}

.category {
  background-color: black;
  color: white;
  font-weight: bold;
}

.name {
  margin: 0;
  text-align: right;
}

.clickhint {
  color: #999;
  margin-left: 0.5em;
}

.hint {
  color: #999;
  font-style: normal;
}

.shade {
  background-color: #fafafa;
}

.description {
  background-color: #eee;
  padding: 3px 6px;
}

.warning {
  padding: 0.5em;
  margin: 0.5em auto;
  background-color: #fde2e3;
  border-left: solid 4px #f47477;
}

#download {
  display: none;
}
